.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register_form__input_container {
  margin-bottom: 24px;
}

.register_form__button_container {
  margin-bottom: 80px;
}

.register_form__link {
  font-size: 16px;
  color: #4c4cff;
  text-decoration: none;
}
