.order_feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  overflow-y: inherit;
  padding-bottom: 40px;
}

.order_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}
