.main {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.main__tab2 {
  background-color: red;
}
