@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/jb-mono-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/jb-mono-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  font-family: "JetBrains Mono", sans-serif;
  background-color: "#131316";
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

li {
  list-style: none;
  text-indent: 0;
  list-style-type: 0;
}

a {
  text-decoration: none;
}
