.ingredients {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.ingredients__tab {
  display: flex;
  margin-bottom: 40px;
}

.ingredients__tab > div {
  flex-grow: 1;
}

.ingredients__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  width: 100%;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

.scrollable_content {
  overflow-y: scroll;
  max-height: calc(100vh - 350px);
}
